
html, body {
  background-color: rgba(20,20,20,1);
  font-family: 'Open Sans', Arial;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

header {
  padding: 25px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(40,40,40,1);
  z-index: 1;
  position: fixed;
  top: 0px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
}

.menu--item {
  text-decoration: none;
  text-align: center;
  width: 85%;
  font-size: 1.5rem;
  font-weight: 100;
  color: rgba(255,255,255, 1);
  opacity: 0.35;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.menu--item:hover {
  opacity: 0.85;
}

.menu--item:before {
  content: '';
  position: absolute;
  width: 50%;
  left: 25%;
  height: 1px;
  background: -moz-linear-gradient(90deg, rgba(0,143,255,0) 0%, rgba(0,143,255,1) 50%, rgba(0,143,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,143,255,0) 0%, rgba(0,143,255,1) 50%, rgba(0,143,255,0) 100%);
  background: linear-gradient(90deg, rgba(0,143,255,0) 0%, rgba(0,143,255,1) 50%, rgba(0,143,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#008fff",endColorstr="#008fff",GradientType=1);
  bottom: -8px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

.menu--item:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.module {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
  width: 85%;
  padding: 0px 15px;
  border: 2px solid rgba(255,255,255, 0.25);
  border-radius: 2px;
  margin-bottom: 25px;
}

.module__first {
  margin-top: 125px;
}

.module__last {
  margin-bottom: 75px;
}

.module__hidden {
  display: block;
  padding-top: 125px;
  margin-top: -125px;
}

.module--top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 0px;
}

.module--top--info {
  display: flex;
  flex-direction: row;
}

.module--top:hover .module--title {
  color: rgba(255,255,255,0.25);
}

.module--top:hover .module--subtitle {
  opacity: 1;
}

.module--title {
  color: rgba(225,225,225, 0.85);
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  -webkit-transition: -webkit-color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.module--subtitle {
  font-size: 1.5rem;
  margin-left: 25px;
  color: dodgerblue;
  opacity: 0.25;
  font-weight: 100;
  text-transform: none;
  -webkit-transition: -webkit-opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  position: relative;
}

.module--subtitle:before {
  content:'|';
  position: absolute;
  left: -18px;
}

.module--accordion::after {
  content: '\002B';
  font-size: 33px;
  font-weight: 100;
  color: #FFF;
  display: block;
}

.module--accordion__active {

}

.module--accordion__active::after {
  content: "\2212";
}

.module--body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.module--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
}

.module--list--item {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  margin-bottom: 40px;
}

.module--list--main {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.075);
  border-radius: 5px;
}

.module--list--img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  opacity: 0.75;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.module--list--img:hover {
  opacity: 1;
  -webkit-transform: scale(1.1) ;
	-moz-transform: scale(1.1) ;
	transform: scale(1.1) ;

}

.module--list--info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  cursor: default;
}

.module--list--title {
  font-size: 1rem;
  color: white;
  opacity: 0.75;
}

.module--list--subtitle {
  font-size: 1rem;
  color: dodgerblue;
  font-weight: 100;
  margin-top: 3px;
  opacity: 0.75;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.8em;
  font-style: italic;
  font-weight: 100;
  color: rgba(255,255,255, 0.35);
  background-color: rgba(39, 48, 55,1);
  padding: 8px;
}


.contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.contact--social li {
  list-style: none;
  margin: 2em;
}

.contact--social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.contact--social li img {
  width: 150px;
  height: 150px;
  opacity: 0.5;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.contact--social li img:hover {
  opacity: 1;
  -webkit-transform: scale(1.15, 1.15) ;
	-moz-transform: scale(1.15, 1.15) ;
	transform: scale(1.15, 1.15) ;
}

.contact--info {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.contact--info--box {
  padding: 15px 30px;
  margin: 10px 15px;
  border: 3px solid white;
  border-radius: 30px;
  font-size: 1.25rem;
  color: white;
  font-style: italic;
  cursor: default;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.contact--info--box:hover {
  color: dodgerblue;
  border: 3px solid rgba(30,144,255,0.25);
  -webkit-transform: scale(1.15, 1.15) ;
	-moz-transform: scale(1.15, 1.15) ;
	transform: scale(1.15, 1.15) ;
}

.contact--info--box__red:hover {
  color: rgba(186, 11, 11, 1);
  border: 3px solid rgba(186, 11, 11, 0.25);
}

.contact--info--box__orange:hover {
  color: rgba(255, 124, 0, 1);
  border: 3px solid rgba(255, 124, 0, 0.25);
}

.contact--info--box__green:hover {
  color: rgba(0, 130, 40, 1);
  border: 3px solid rgba(0, 130, 40, 0.25);
}

.modal--container {
  cursor: pointer;
}
.module--list--modal {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  transform: scale(0.25);
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
}

.modal__close:after {
  position: fixed
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: 100;
  content: '\2715';
  color: black;
  cursor: pointer;
}

.modal__open {
  visibility: visible;
  opacity: 1;
  z-index: 100;
  transform: scale(1);
}

.modal--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.modal--form {
  width: 90%;
  max-width: 500px;
  padding: 15px;
}

.modal--info {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 30px;
}

.modal--info--title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.modal--info--text {
  font-weight: 100;
}

.form--block {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-bottom: 2px;
}

.form--block label {
  padding-left: 3px;
  margin-bottom: 2px;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.form--block input, .form--block textarea {
  padding: 7px 5px;
  border: 3px solid rgba(0,0,0,0.4);
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'Open Sans', Arial;
}

.form--block textarea {
  resize: none;
}
.form--block input::placeholder, .form--block textarea::placeholder {
  font-style: italic;
  font-size: 0.9rem;
  opacity: 0.65;
}

.form--block input:focus, .form--block textarea:focus {
  border: 3px solid rgba(0,0,0,85);
}

.form--block input:focus + label, .form--block textarea:focus + label {
  transform: translateX(7px);
}

.form--block--textCounter {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  opacity: 0.5;
  padding-left: 5px;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.form--buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form--button {
  border: 2px solid black;
  background: white;
  outline: none;
  color: black;
  padding: 10px 15px;
  font-size: 1.05rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.form--button:hover, .form--button:active, .form--button:focus {
  background: black;
  color: white;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(-5px);
}

.form--error {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  font-style: italic;
  color: red;
  visibility: hidden;
  opacity: 0;
  height: 15px;
  -webkit-transition: visibility 0.25s, opacity 0.25s;
  -moz-transition: visibility 0.25s, opacity 0.25s;
  -ms-transition: visibility 0.25s, opacity 0.25s;
  -o-transition: visibility 0.25s, opacity 0.25s;
  transition: visibility 0.25s, opacity 0.25s;
}

.form--error__active {
  visibility: visible;
  opacity: 0.9;
}
