
html, body {
  /* background-color: rgba(65,65,65,1); */
  background-color: rgba(20,20,20,1);
  font-family: 'Open Sans', Arial;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 25px 0px;
  text-align: middle;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  /* background-color: rgba(65,65,65,1); */
  background-color: rgba(20,20,20,1);
  z-index: 1;
  position: fixed;
  top: 0px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 85%;
}

.menu--item {
  text-align: center;
  width: 85%;
  font-size: 1.25rem;
  font-weight: 100;
  color: rgba(255,255,255, 0.75);
  cursor: pointer;
  position: relative;
}

.menu--item:before {
  content: '';
  position: absolute;
  width: 60%;
  left: 20%;
  height: 0px;
  /* display: block; */
  height: 1px;
  background-image: linear-gradient(to right, red, orange);
  /* border-bottom: 1px solid dodgerblue;
  border-bottom: 1px solid linear-gradient(to right, red, orange); */
  bottom: -5px;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

.menu--item:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  /* border-bottom: 1px solid dodgerblue; */
}

.module {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  opacity: 1;
  visibility: visible;
  width: 85%;
  padding: 15px;
  border: 2px solid rgba(255,255,255, 0.25);
  border-radius: 2px;
  margin-bottom: 10px;
}

.module__first {
  margin-top: 85px;
}

.module__hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.module--top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.module--title {
  /* padding: 0px; */
  color: rgba(225,225,225, 0.85);
  margin: 0px;
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.module--subtitle {
  margin-left: 3px;
  /* font-size: 0.85rem; */
  /* font-size: 1rem; */
  color: dodgerblue;
  /* font-style: italic; */
  opacity: 0.35;
  font-weight: 100;
  text-transform: none;
  /* text-transform: uppercase; */
}

.module--accordion {

}

.module--accordion::after {
  content: '\002B';
  font-size: 33px;
  font-weight: 100;
  color: #FFF;
  display: block;
}

.module--accordion__active {

}

.module--accordion__active::after {
  content: "\2212";
}

.module--body {
  padding: 0 18px;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.portfolio {

}

.portfolio--list {

}

.portfolio--item {

}

.portfolio--item--title {

}

.portfolio--item--img {

}

.portfolio--item--text {

}

.project-list {
  margin: 1.5em 0em 1em 0em;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
}

.my-work{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 300px;
  height: 250px;
  border: 1px solid rgba(255,255,255,0.35);
  padding: 0.35em;
  margin: 0.25em;
}

.my-work-title {
  color: white;
  margin-bottom: 0.25em;
  font-weight: 300;
}

.my-work-image {
  height: 200px;
}

img.my-work-image {
  max-height: 100%;
  width: auto;
}

.my-work-description {
  margin-top: 0.25em;
  color: white;
  font-style: italic;
  opacity: 0.5;
  font-weight: 300;
}

.main {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  margin-bottom: 2em;
}

.about {

}

.about h1, .main h1 {
  color: rgba(220,220,220,1);
  font-size: 1.75em;
  font-weight: 300;
  margin: 0;
  padding-bottom: 0.25em;
  padding-top: 1em;
}

.about p, .main p {
  color: rgba(145,145,145,1);
  font-size: 1.1em;
  line-height: 1.75em;
  margin: 0;
  padding: 0.25em 0em;
}

.about a {
  text-decoration: none;
  color: dodgerblue;
}

.about a:visited {
  text-decoration: none;
}

.blue-highlight {
  color: dodgerblue;
  font-size: 1.2em;

}

.blue-strikethrough {
  color: blue;
  text-decoration:line-through;
  font-size: 1.25em;
  opacity: 0.75;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.contact {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.contact li {
  list-style: none;
  margin: 1em;
}

.contact li img {
  width: 90px;
  height: 90px;
  opacity: 0.5;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.contact li img:hover {
  opacity: 1;
  -webkit-transform: scale(1.15, 1.15) ;
	-moz-transform: scale(1.15, 1.15) ;
	transform: scale(1.15, 1.15) ;
}
